{block content}
	<p><a n:href="Home:default">← zpět na výpis</a></p>

	<h1 n:block="title">{$post->title}</h1>

	<div class="post-content">
		{$post->content}
	</div>

	{if $user->isInRole('admin')}
		<p><strong>Info pro admina:</strong> ID článku je {$post->id}</p>
	{/if}
{/block}