# Application parameters and settings. See https://doc.nette.org/configuring

parameters:


application:
    # Presenter mapping pattern
    mapping:
        - 'App\\Presentation\\**Presenter'
        - 'App\\Modules\\*\\Presenters\\*Presenter'


database:
	# SQLite database source location
	dsn: 'mysql:host=127.0.0.1;dbname=usertest'
	user: 'root'
	password: 'root'
